__pycache__/
*.py[cod]
.pylint.d/
*$py.class
*.eps
*.pdf
*.png
*.json
*.h5
*.o
*.log
*.exe
*.lp
*.pkl
*.mps
*gexf
*.stackdump
.idea/
.spyproject/
.~lock*
*.sol
~$*
Thumbs.db*
*-checkpoint.ipynb
~$*
storage/
testtemp/
test.db
.coverage
coverage.xml
build
venv

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.hypothesis

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

docs/build/
docs/source/
!docs/source/index.rst
!docs/source/conf.py
!docs/source/make.bat
!docs/source/Makefile

experiments/**/results*
data/rostering/RosterViewerDemo.4.7.1/Logs
log.txt
log1.txt
log2.txt
log_old.txt
*.html
*.cpp
temp
thirdparties/fast-downward/output.sas
thirdparties/fast-downward/sas_plan
!thirdparties/approxmc/amd64-windows/approxmc.exe
!thirdparties/slime5/slime5-w64.exe
!thirdparties/metric-ff/win_bison.exe
!thirdparties/metric-ff/win_flex.exe
!thirdparties/PlanMiner/src/**
data/verladebetrieb
pickles
traza.txt
data/furnaces
data/furnaces_planning